.carousel {
  margin: 0;
  overflow: hidden;
  width: 100%;
}
.carousel-inner {
  white-space: nowrap;
  display: flex;
}
.carousel-item {
  display: flex;
  height: 600px;
  object-fit: cover;
  border-radius: 5px;
  box-shadow: 10px 10px 39px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 10px 10px 39px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 39px 0px rgba(0, 0, 0, 0.75);
}
